body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
}
.container {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
button:hover {
    background: #0056b3;
}
.hidden {
    display: none;
}
#foto-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    object-fit: cover;
}