body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(OIP.jpeg);
    background-size: cover;
    background-color: coral;
}
header {
    background: rgb(255, 127, 180);
    color: azure;
    padding: 10px 0;
    text-align: center;
}
nav {
    background: rgb(51,51,51,0.8);
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
nav a {
    color: aliceblue;
    text-decoration:none ;
    margin:0 15px;
}
.content {
    background:rgb(166,184,165,0.8) ;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    visibility: visible;
    border-radius: 10px;
}
.fotter {
    text-align: center;
    padding: 10px;
    background: hsl(240, 100%, 50%);
    color: antiquewhite;
    margin-top: 10px;
}